.banner {
    margin-top: 100px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../Assets/images/banner.jpg");
}
.btnbaner {
    height: 60px;
}
.btnbaner:hover {
    background-color: none !important;
    border: 3px solid #fff;
}
.texbanner {
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
}
.textTitle {
    font-weight: 600;
}
.col2 {
    align-items: center;
}
.btn1 {
    display: flex;
    justify-content: center;
}
.btnlink {
    text-decoration: none;
}
