.imglogo {
    width: 75px;
}
.texlogo {
    margin-right: 15px;
    font-weight: 600;
    color: #fff;
}
.header {
    background: linear-gradient(#1d2029, #290110);
}
/* .navlink1 {
    color: rgb(228, 78, 8);
}
.navlink1:hover {
    cursor: pointer;
} */
.navlink {
    border-radius: 20px;
}
.navlink:hover {
    cursor: pointer;
    background: #fa573a;
    color: #fff;
}
.navlink:active {
    background-color: #fa573a;
}
